// LAYOUT
.homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.photogrid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 1rem;
  margin-bottom: 50px;
}

// TYPOGRAPHY
.titlecontainer h1 {
  margin-bottom: 20px;
  font-size: 4rem;

  @media (max-width: 768px), (max-width: 480px) {
    font-size: 3rem;
  }

  @media (max-width: 480px) {
    font-size: 2rem;
  }
}

// VISUAL
.image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 9999px;
  filter: grayscale(100%);

  @media (max-width: 768px) {
    width: 120px;
    height: 120px;
  }

  @media (max-width: 480px) {
    width: 100px;
    height: 100px;
  }
}
