// LAYOUT
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  place-items: center;
  position: relative;
  overflow: hidden;
  width: 600px;
  max-height: fit-content;
  padding: 2rem;
  border-radius: 20px;
  background: none;

  @media (max-width: 768px), (max-width: 480px) {
    margin: 10px;
    padding: 1rem;
    max-width: 80vw;
  }
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
}

// TYPOGRAPHY
.card h1 {
  padding-bottom: 30px;
  font-size: 1.5rem;

  @media (max-width: 768px), (max-width: 480px) {
    font-size: 1rem;
  }
}

.card h2 {
  text-align: center;
  font-size: 2rem;
  color: white;
  z-index: 1;

  @media (max-width: 768px), (max-width: 480px) {
    font-size: 1.5rem;
  }
}

.optionButton {
  display: inline-block;
  width: 500px;
  padding: 0.5rem;
  margin: 5px;
  font-size: 1rem;
  font-family: var(--font-main);
  color: white;
  text-decoration: none;
  background-color: #333;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;

  @media (max-width: 768px), (max-width: 480px) {
    max-width: 70vw;
    font-size: 0.9rem;
  }
}

// VISUAL
.card::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 130%;
  background-image: linear-gradient(180deg, #0c0998, #d70b7b);
  animation: rotBGimg 6s linear infinite;
  transition: all 0.2s linear;
}

.card::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: var(--color-bg);
  border-radius: 15px;
}

.card * {
  z-index: 1;
}

.optionButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #0c0998, #d70b7b);
  transform: translateX(-100%);
  transition: transform 0.4s ease-out;
  z-index: -1;
}

.optionButton:hover::before {
  transform: translateX(0);
}

// ANIMATION
@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
